body {
    background:#FF1493;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:lightgray;
    border-radius:10px;
}

.assignment img {
width:200px;
margin:10px;
border:4px solid #2F4F4F   
}

.assignment img:hover {
    border:4px dashed #FF1493 
}

h1 {
    color:#2F4F4F;
    text-align: center;
}

a {
    text-decoration:none;
    color:#2F4F4F
}

a:hover{
    color:#FF1493;
}